.c {
  text-align:center;
}
.wf-sawarabimincho {
  font-family: "Sawarabi Mincho";
}
#title {
  font-size: 15vw;
  margin: 4vw 0px 0px 0px;
}
#title2 {
  font-size: 5vw;
}
#content {
  font-size: 3vw;
    margin: vw 0px 0px 0px;
}

.left {
  text-align:left;
  margin-left:7vw;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  margin: 2vw 0px 0px 0px;
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1vw 4vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5vw;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5vw 6vw;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {

  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
